flask==3.0.0
flask-cors==4.0.0
langchain-groq==0.1.0
langchain==0.1.13
langchain-core==0.1.33
langchain-text-splitters==0.0.1
langchain-community==0.0.24
langchain-tavily==0.1.0
sentence-transformers==2.2.2
chromadb==0.4.24
pypdf==4.0.1
python-dotenv==1.0.0